

/* container */
.container_ff{
    height: auto;
    width: 100%;
    background-color: #ccc;
    padding: 100px;
}

.container_ff .border{
    width: 500px;
    height: auto;
    margin: 50px auto;
    box-shadow: 0 0 10px black;
    background-color: #fff;
    padding: 20px;
}

.container_ff table{
    text-align: center;
}


